<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form name="form1" class="box" *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
      <h4>FUNNY<span>  QUIZ</span></h4><br>
      <h5>Hãy đăng nhập </h5>
      <input type="text" formControlName="email" placeholder="Email" autocomplete="off">
      <i class="typcn typcn-eye" id="eye"></i>
      <input type="password" formControlName="password" placeholder="Mật khẩu" id="pwd" autocomplete="off">

      <input type="submit" value="Sign in" class="btn1">

    </form>
    <a routerLink="/auth/register" class="dnthave">Đăng ký</a>

  </div>
</div>

