<div class="login-container">

  <form class="form-login" [formGroup]="registerForm" (ngSubmit)="register()">
    <ul class="login-nav">
      <li class="login-nav__item active">
        <a href="">Đăng ký</a>
      </li>
    </ul>
    <label  class="login__label">
      Tên
    </label>
    <input  class="login__input" type="text" formControlName="name"/>

    <label class="login__label">
      Email
    </label>
    <input  class="login__input" type="text" formControlName="email" />
    <label  class="login__label">
      Mật khẩu
    </label>
    <input  class="login__input" type="password" formControlName="password" /><br>
<!--    <label class="login__label" >-->
<!--Nhap lai mat khau-->
<!--    </label>-->
<!--    <input  class="login__input" type="password" />-->

    <button class="login__submit" type="submit">Đăng ký</button>
    <button  routerLink="/auth/login" class="login__back" type="submit">Hủy</button>
  </form>

</div>
