
<app-navbar-home></app-navbar-home>
<div class="container">
  <header>
    <h1>Test example</h1>
      <p>Test your knowledge! Good luck with your exame!</p>
  </header>
  <!--Yes/No quiz-->
  <div class="row">
    <div class="quiz-yn-group col-md-6">
      <div class="quiz-question"><strong>1.</strong> Integer tincidunt nisi at ante egestas luctus. Vestibulum consectetur sollicitudin lacinia. Nam id neque et erat aliquam sollicitudin vel sit amet risus.
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">Da
        </label>
        <label>
          <input type="checkbox" value="">Ne</label>
      </div>
    </div>
    <div class="quiz-yn-group col-md-6">
      <div class="quiz-question"><strong>2.</strong> Integer tincidunt nisi at ante egestas luctus. Vestibulum consectetur sollicitudin lacinia. Nam id neque et erat aliquam sollicitudin vel sit amet risus. Mauris condimentum ex ut ante blandit pellentesque?
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">Da
        </label>
        <label>
          <input type="checkbox" value="">Ne</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="quiz-yn-group col-sm-6">
      <div class="quiz-question"><strong>3.</strong> Nam id neque et erat aliquam sollicitudin vel sit amet risus.</div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">Da
        </label>
        <label>
          <input type="checkbox" value="">Ne</label>
      </div>
    </div>
    <div class="quiz-yn-group col-sm-6">
      <div class="quiz-question"><strong>4.</strong> Vestibulum consectetur sollicitudin lacinia.
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">Da
        </label>
        <label>
          <input type="checkbox" value="">Ne</label>
      </div>
    </div>
  </div>

  <div class="quiz-answer text-center">
    <a href="#" class="btn btn-lg btn-success" role="button">See your result</a>
  </div>
</div>
