
<app-navbar-home></app-navbar-home>
<div class="container" *ngFor="let question of listQuestions">
  <header>
    <h1>Test example</h1>
      <p>Test your knowledge! Good luck with your exame!</p>
  </header>
  <!--Yes/No quiz-->
  <div class="row">
    <div class="quiz-yn-group col-md-6" *ngFor="let answer of question.answers">
      <div class="quiz-question"><strong>1.</strong>{{question.question_name}}
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">{{answer.answer_content}}
        </label>
      </div>
    </div>
  </div>
  <div class="quiz-answer text-center">
    <a href="#" class="btn btn-lg btn-success" role="button">See your result</a>
  </div>
</div>
