<h1>Danh sách danh mục câu hỏi</h1>
<a routerLink="/admin/categories/create">
  <button class="btn btn-outline-dark">Thêm mới</button>
</a>

<table class="table">
  <thead class="table-dark">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Mô tả</td>
    <td colspan="2">Hành động</td>
  </tr>
  </thead>

  <tr *ngFor="let category of categories| paginate: { itemsPerPage: 10, currentPage: p }; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.category_name}}</td>
    <td>{{category.category_description}}</td>
    <td>
      <a class="btn btn-success" [routerLink]="['/admin/categories/update',category.id]"><i class="fas fa-edit"></i></a>

    </td>
    <td>
      <button (click)="delete(i)" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
    </td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
