<h1>Cập nhật thông tin danh mục sản phẩm</h1>
<div *ngIf="currentCategory.id" class="edit-form">
  <h4>Category</h4>
  <form>
    <div class="form-group">
      <label>Category Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="currentCategory.category_name"
        name="category_name"
      />
      <label>Category Description</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="currentCategory.category_description"
        name="category_description"
      />
    </div>

  </form>


  <button
    type="submit"
    class="badge badge-success mb-2"
    (click)="updateCategory()"
  >
    Update
  </button>
</div>
