<h1>Cập nhật thông tin danh mục câu hỏi</h1>
<br>
<a routerLink="/admin/categories/list">
  <button class="btn btn-outline-secondary">Trở về</button>
</a>
<div *ngIf="currentCategory.id" class="edit-form">
  <br>
  <form>
    <div class="form-group">
      <label>Tên danh mục</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="currentCategory.category_name"
        name="category_name"
      />
      <label>Mô tả</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="currentCategory.category_description"
        name="category_description"
      />
    </div>

  </form>


  <button
    type="submit"
    class="btn btn-outline-secondary"
    (click)="updateCategory()"
  >
    Cập nhật
  </button>
</div>
