<p>answer-list works!</p>

<button class="btn btn-secondary" routerLink="/home">Quay lại</button>
<table class="table">

  <thead class="table-dark">
  <tr>
    <td>STT</td>
    <td>Tên câu trả lời</td>
    <td>Câu hỏi</td>
    <td>Đúng/Sai</td>
    <td colspan="2">hành động</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let answer of answers; index as i">
    <td>{{i + 1}}</td>
    <td>{{answer.option}}</td>
    <td>{{answer.question_id}}</td>
    <td>{{answer.correct}}</td>
    <td><button class="btn btn-success" [routerLink]="['/answers/update',answer.id]">Edit</button></td>
    <td>
      <button class="btn btn-danger" (click)="delete(i)">Delete</button>
    </td>
  </tr>
  </tbody>

</table>
