<!--<app-navbar></app-navbar>-->

<!--&lt;!&ndash;<div class="content-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;  <section class="content">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;      <router-outlet></router-outlet>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;  </section>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="content-wrapper">-->
<!--  &lt;!&ndash; Content Header (Page header) &ndash;&gt;-->
<!--  <div class="content-header">-->
<!--    <div class="container-fluid">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
