<p>answer-edit works!</p>

<div *ngIf="currentAnswer.id" class="edit-form">
  <h4>Category</h4>
  <form>
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="currentAnswer.answer_content"
        name="name" placeholder="option"
      />
      <input type="text"
      class="form-control"
      [(ngModel)]="currentAnswer.question_id"
      name="question"
      />
      <input type="text" class="form-control"
             [(ngModel)]="currentAnswer.correct"
             name="correct">
    </div>

  </form>


  <button
    type="submit"
    class="badge badge-success mb-2"
    (click)="updateAnswer()"
  >
    Update
  </button>
</div>
