<div class="col-12">


  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-12 col-md-8">
          <h2>Quản lý bài thi: {{ quiz?.name }}</h2>

        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          <h3>Quản lý câu hỏi</h3>
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th>STT</th>
              <th>Câu hỏi</th>
              <th></th>
            </tr>
            </thead>
            <tr *ngFor="let question of quiz?.questions; let i = index">
              <td>
<!--                <input type="checkbox">-->
              {{ i + 1}}</td>
              <td>{{ question.question_content }}</td>
<!--              <td>-->
<!--                <button class="btn btn-danger" (click)="deleteQuestion(question.id)"  >Delete</button></td>-->
            </tr>
            <tr>

              <td></td>
            </tr>
          </table>
        </div>
        <div class="col-12 col-md-6">
          <h3>
            Ngân hàng câu hỏi
          </h3>
          <table class="table table-hover">
            <tr>
              <td>
                <select name="" id="" class="form-control">
                  <option value="">All</option>
                </select>
              </td>
              <td>
                <button class="btn btn-success">Tim kiem</button>
              </td>
            </tr>
            <tr *ngFor="let item of listQuiz">
              <td>{{ item.question_content}}</td>
              <td>
                <button class="btn btn-primary" (click)="addQuestion(item.id)">Add</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
