<h1>Tạo danh mục mới</h1>
<br>
<a routerLink="/admin/categories/list">
  <button class="btn btn-outline-secondary">Trở về</button>
</a>
<br>
<form [formGroup]="categoryForm" (ngSubmit)="submit()">
  <table class="table table-bordered">
    <tr>
      <td>Tên danh mục:</td>
      <td><input type="text" formControlName="category_name"></td>
    </tr>
    <tr>
      <td>Mô tả:</td>
      <td><textarea type="text" formControlName="category_description"></textarea></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-outline-secondary">Tạo mới</button>

      </td>
    </tr>
  </table>

</form>

