<div class="container">
  <form *ngIf="formAddQuiz" [formGroup] = "formAddQuiz" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Quiz's name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label>Duration(Minutes)</label>
      <select class="form-control" formControlName="duration">
        <option value="1">15 minutes</option>
        <option value="2">30 minutes</option>
        <option value="3">45 minutes</option>
        <option value="4">60 minutes</option>
      </select>
    </div>
    <div class="form-group">
      <label>Published</label>
      <input type="text" class="form-control" formControlName="published">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
