<div class="container">
  <form *ngIf="formAddQuiz" [formGroup] = "formAddQuiz" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Tên bài thi</label>
      <input type="text" class="form-control" formControlName="name">
      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <p  style="color: red; margin-bottom: 10px" *ngIf="name?.errors?.['required']">
          Tên bài thi không được để trống
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Thời gian</label>
      <select class="form-control" formControlName="duration">
        <option value="1">15 phút</option>
        <option value="2">30 phút</option>
        <option value="3">45 phút</option>
        <option value="4">60 phút</option>
      </select>
      <div *ngIf="duration?.invalid && (duration?.dirty || duration?.touched)">
        <p  style="color: red; margin-bottom: 10px" *ngIf="duration?.errors?.['required']">
          Thời gian làm không được để trống
        </p>
      </div>
    </div>
<!--    <div class="form-group">-->
<!--      <label>Published</label>-->
<!--      <input type="text" class="form-control" formControlName="published">-->
<!--    </div>-->
    <label>Chọn câu hỏi</label>
    <div *ngFor="let q of questions" class="form-group">

      <input type="checkbox" (change)="onCheckSubmit($event, q.id)">
      <label>{{q.question_content}}</label>
    </div>
    <button [disabled]="formAddQuiz?.invalid" class="btn btn-primary">Submit</button>


  </form>
</div>
