<div class="container">
  <form *ngIf="formAddQuestion" [formGroup]="formAddQuestion" (ngSubmit)="submit()" >
    <div class="form-group">
      <label>Test</label>
      <input type="number" class="form-control" formControlName="test_id">
    </div>
    <div class="form-group">
      <label>Question</label>
      <input type="text" class="form-control" formControlName="question_name">
    </div>
    <div class="form-group">
      <label>Option</label>
      <input type="text" class="form-control" formControlName="options">
    </div>
    <div class="form-group">
      <label>Correct</label>
      <input type="text" class="form-control" formControlName="correct">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
