<div class="container">
  <div class="body d-md-flex align-items-center justify-content-between">
    <div class="box-1 mt-md-0 mt-5"> <img src="https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="" alt=""> </div>
    <div class=" box-2 d-flex flex-column h-100">
      <div class="mt-5">
        <p class="mb-1 h-1">Hãy đổi mật khẩu của bạn</p>
        <div class="d-flex flex-column ">

          <div class="d-flex align-items-center"> <a href="#" class="box me-2 selectio"> <span class="fab fa-facebook-f mb-2"></span>
            <p class="mb-0">Facebook</p>
          </a> <a href="#" class="box me-2"> <span class="fab fa-google mb-2"></span>
            <p class="mb-0">Google</p>
          </a> <a href="#" class="box"> <span class="far fa-envelope mb-2"></span>
            <p class="mb-0">Email</p>
          </a> </div>
          <div class="mt-3">
          <input type="password" formControlName="password" placeholder="Mật khẩu hiện tại">
            <input type="password" formControlName="password" placeholder="Mật khẩu mới">
            <input type="password" formControlName="password" placeholder="Nhập lại mật khẩu">
            <br>
            <div type="text-cent">
              <a class="btn btn-primary" href="/auth/login">Đồng ý</a>
              <br>
              <a class="btn btn-primary" href="/home">Hủy</a>
            </div>


          </div>
        </div>
      </div>
      <div class="mt-auto">
        <p class="footer text-muted mb-0 mt-md-0 mt-4">By register you agree with our <span class="p-color me-1">terms and conditions</span>and <span class="p-color ms-1">privacy policy</span> </p>
      </div>
    </div> <span class="fas fa-times"></span>
  </div>
</div>
