<div class="container">
  <a routerLink="/questions/create"><button class="btn btn-success">Add New</button></a>
  <table>
    <tr>
      <td>Test</td>
      <td>Question</td>
    </tr>
    <tr *ngFor="let question of questions;let i = index">
      <td>{{ question.test_id}}</td>
      <td>{{ question.question_name}}</td>
      <td><button (click)="delete(i)" class="btn btn-danger">DELETE</button></td>
      <td><button routerLink ="edit/{{question.id}}" class="btn btn-info">EDIT</button></td>
    </tr>
  </table>
</div>
