<div class="container">
  <a routerLink="/quizzes/create">
    <button class="btn btn-success">Add New</button>
  </a>
  <table class="table">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Duration</th>
      <th scope="col">Published</th>
      <th scope="col">Question</th>
      <td scope="col" colspan="2">Action</td>
    </tr>
    <tr *ngFor="let quiz of quizzes;index as i">
      <td>{{ quiz.name}}</td>
      <td>{{ quiz.duration}}</td>
      <td>{{ quiz.published}}</td>
<!--      <td>{{ quiz.questions.question_content}}</td>-->

<!--      <td>-->
<!--        <button (click)="delete(i)" class="btn btn-danger">DELETE</button>-->
<!--      </td>-->
      <td>
        <button routerLink="edit/{{quiz.id}}" class="btn btn-info">EDIT</button>
      </td>
      <td>
<!--        <button routerLink="detail/{{quiz.id}}" class="btn btn-info">DETAIL</button>-->
        <button (click)="show(quiz.id)" data-toggle="modal" data-target="#exampleModal" class="btn btn-info"><i class="fas fa-info-circle"></i></button>

      </td>
    </tr>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chi tiết quiz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Tên quiz</th>
            <th>Câu hỏi</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{quiz?.name}}</td>
            <td *ngFor="let quest of quiz?.questions">{{quest.question_content}}</td>
            <td></td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
